---
title: Contact Me 📧
permalink: /contact/
---

<form name="contact" method="POST" data-netlify="true" action="/thank-you/">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Phone Number: <input type="tel" name="phone_number" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <label>Date: <input type="date" name="date" /></label>
  </p>
  <p>
    <label><input type="checkbox" name="check1" value="Option 1" /></label>
  </p>
  <p>
    <label><input type="checkbox" name="check2" value="Option 2" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

<hr>

<p><p>
