---
permalink: /
title: Up to zero! 🪐
---

<p>Get started:</p>
<ul>
  <li>Edit this page: <code>src/pages/index.md</code></li>
  <li>Add or edit navigation: <code>src/data/navigation.json</code></li>
  <li>Change colors and styles: <code>src/assets/styles/</code></li>
</ul>

<hr>

<h1>Testing Section

<body>
<p>Here is some basic text</p>

<h2>Hyperlink test</h2>
<a href="https://stately-donut-d3cc71.netlify.app/contact/"
id="hyperlink-ID"
name="hyperlink-Name"
class="hyperlink-Class">Link to the contact page</a>

<h2>Button test</h2>
<a href="https://stately-donut-d3cc71.netlify.app/contact/">
  <button type="button"
  id="button-ID"
  name="button-Name"
  class="button-Class">Button to contact page</button>
</a>

</body>

<hr>

<figure>
  {% image "/assets/images/favicon.svg", "endtest_test Favicon" %}
</figure>
