---
permalink: /
title: Attribute Examples
---


<!--Location of edit items
<p>Get started:</p>
<ul>
  <li>Edit this page: <code>src/pages/index.md</code></li>
  <li>Add or edit navigation: <code>src/data/navigation.json</code></li>
  <li>Change colors and styles: <code>src/assets/styles/</code></li>
</ul>

<hr>
-->
<ul class="breadcrumb">
  <li>Home</li>
</ul>

<h1>Testing Section</h1>

<body>
    <p>List of locators that endTest can use</p>
    <ol>
        <li>ID</li>
        <li>Text Inside</li>
        <li>Name</li>
        <li>Class name</li>
        <li>XPath (relies on xml layout. May change. Good for unique cases, bad for the standard)</li>
        <li>CSS Selector (requires individual CSS assignemnt)</li>
        <li>Link Text (may not always be present. And may change)</li>
        <li>Partial Link Text(same as link text)</li>
    </ol>
    <br>
    <p>Attributes we can easily edit without issues</p>
    <ol>
        <li>ID</li>
        <li>Name</li>
        <li>Class name (but has some quirks)</li>
    </ol>
    <hr>

    <h1>Example Components</h1>
    <p>All links go to contact page</p>

    <h2>Hyperlink test</h2>
    <a href="https://stately-donut-d3cc71.netlify.app/contact/" id="hyperlink-ID" name="hyperlink-Name" class="hyperlink-Class">Link to the contact page</a>

    <ol>
        <li>id="hyperlink-ID"</li>
        <li>name="hyperlink-Name"</li>
        <li>class="hyperlink-Class"</li>
    </ol>

    <h2>Button test</h2>
    <a href="https://stately-donut-d3cc71.netlify.app/contact/">
        <button type="button" id="button-ID" name="button-Name" class="button-Class">Button to contact page</button>
    </a>

    <ol>
        <li>id="button-ID"</li>
        <li>name="button-Name"</li>
        <li>class="button-Class"</li>
    </ol>

    <h2>Button with a dual class</h2>
    <a href="https://stately-donut-d3cc71.netlify.app/contact/">
        <button type="button" id="button2-ID" name="button2-Name" class="button-class1 button-class2">Button to contact page</button>
    </a>

    <ol>
        <li>id="button2-ID"</li>
        <li>name="button2-Name"</li>
        <li>class="button-class1 button-class2"</li>
    </ol>

    <p>EndTest cannot handle spaces. so the above example will fail. Also this requires that all components have 1 class at most and each class is unique. Too much hassle to be worth doing</p>
    
<hr>

<div class="navbar">
  <a href="https://stately-donut-d3cc71.netlify.app/">Home</a>
  <a href="https://stately-donut-d3cc71.netlify.app/contact/">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://www.google.com/">Link to Google</a>
      <a href="https://www.bing.com/">Link to Bing</a>
    </div>
  </div>
</div>

<hr>

<button class="accordion">Section 1</button>
<div class="panel">
  <p>Text for section 1</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Text for section 1</p>
</div>

</body>

<hr>
