---
title: Photo
permalink: /photo/
---

<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }

    </style>
</head>

<body>

    <div class="gallery">
        <a target="_blank" href="Background-Black.jpg">
            <img src="Background-Black.jpg" alt="Background black" width="600" height="400">
        </a>
        <div class="desc">Backround image. Repeated/black</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="Background-Red.jpg">
            <img src="Background-Red.jpg" alt="Background red" width="600" height="400">
        </a>
        <div class="desc">Backround image. Repeated/red</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="Background-White.jpg">
            <img src="Background-White.jpg" alt="Background white" width="600" height="400">
        </a>
        <div class="desc">Backround image. Repeated/white</div>
    </div>

</body>
